<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Awesome Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <link rel="stylesheet" href="static/css/MarkerCluster.css"/>
   <link rel="stylesheet" href="static/css/MarkerCluster.Default.css"/>
   <link rel="stylesheet" href="static/css/index.css"/>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>311 Activity in Washington, D.C.</h1>
        <p>A comparison of 2019 and 2020 311 Service Requests by month.</p>
        <p>To begin, select a month from the menu below.</p>
        <div class="btn-group" role="group" aria-label="Month Selection">
          <a id="Jan" href="{{url_for('updateDB', month='1')}}" type="button" class="btn btn-secondary">Jan</a>
          <a id="Feb" href="{{url_for('updateDB', month='2')}}" type="button" class="btn btn-secondary">Feb</a>
          <a id="Mar" href="{{url_for('updateDB', month='3')}}" type="button" class="btn btn-secondary">Mar</a>
          <a id="Apr" href="{{url_for('updateDB', month='4')}}" type="button" class="btn btn-secondary">Apr</a>
          <a id="May" href="{{url_for('updateDB', month='5')}}" type="button" class="btn btn-secondary">May</a>
          <a id="Jun" href="{{url_for('updateDB', month='6')}}" type="button" class="btn btn-secondary">Jun</a>
          <a id="Jul" href="{{url_for('updateDB', month='7')}}" type="button" class="btn btn-secondary">Jul</a>
          <a id="Aug" href="{{url_for('updateDB', month='8')}}" type="button" class="btn btn-secondary">Aug</a>
          <a id="Sep" href="{{url_for('updateDB', month='9')}}" type="button" class="btn btn-secondary">Sep</a>
          <a id="Oct" href="{{url_for('updateDB', month='10')}}" type="button" class="btn btn-secondary">Oct</a>
          <a id="Nov" href="{{url_for('updateDB', month='11')}}" type="button" class="btn btn-secondary">Nov</a>
          <a id="Dec" href="{{url_for('updateDB', month='12')}}" type="button" class="btn btn-secondary">Dec</a>
          <!-- <button type="button" class="btn btn-secondary" disabled>Oct</button> -->
          <!-- <button type="button" class="btn btn-secondary" disabled>Nov</button> -->
          <!-- <button type="button" class="btn btn-secondary" disabled>Dec</button> -->
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="hideDupes">
          <label class="form-check-label" for="hideDupes">
            Hide Duplicates
          </label>
        </div>
    </div>

      <div class="row" id="section1">
        <div class="col-md-12">
          <h3>Locations and Descriptions of Service Requests</h3>
          <div id="graph1" class="vizspace">
            <div id="map"></div>
          </div>
        </div>
      </div>

      <div class="row" id="section2">
        <div class="col-md-12">
          <h3>Status of Service Requests by Organization</h3>
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="statustabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#statusgraph2020" role="tab" data-controls="statusgraph2020">2020</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#statusgraph2019" role="tab" data-controls="statusgraph2019">2019</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-3">
                <div class="tab-pane active" id="statusgraph2020" role="tabpanel">
                  <div id="graph2-2020" class="vizspace"></div>
                </div>
                <div class="tab-pane" id="statusgraph2019" role="tabpanel">
                  <div id="graph2-2019" class="vizspace"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="section3">
        <div class="col-md-12">
          <h3>Average Days Open for Closed Requests Per Organization</h3>
          <div id="graph3" class="vizspace"></div>
        </div>
      </div>
      <footer><p>Data Sources: <a href="https://opendata.dc.gov/datasets/311-city-service-requests-in-2020">2020 API</a>, <a href="https://opendata.dc.gov/datasets/311-city-service-requests-in-2019">2019 API</a></p></footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="static/js/leaflet.featuregroup.subgroup.js"></script>
    <script src="static/js/leaflet.markercluster.js"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
